<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
      <% end %>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, id: :blog_title, class: 'form-control', placeholder: "Title"%>
  </div>

  <div class="form-group">
    <%= form.label :topic_id %>
    <%= form.collection_select(:topic_id, Topic.all, :id, :title,
                                {
                                  selected: blog.topic_id,
                                  include_blank: true
                                  },
                                  class: 'form-control') %>
  </div>

<div class="form-group">
  <%=form.radio_button :status, 'draft' %>
  <%=form.label :status, 'Draft' %>
  <%=form.radio_button :status, 'published' %>
  <%=form.label :status, 'Published' %>
</div>
  <div class="form-group">
    <%= form.text_area :body, id: :blog_body, class: 'form-control', rows:10, placeholder: "Body" %>
  </div>

  <div class="actions">
    <%= form.submit "Post", class:'btn btn-primary' %>
  </div>
<% end %>

