<!-- if the pagination class is up when there are no pages it throws off the column for some reason, set to only display when there is more than one page worth of blog content -->
<% if Blog.published.count > 5 %>
 <div class="paginate">
    <%=paginate @blogs %>
  </div>
<% end %>
<div class="col-sm-8 blog-main">
 <br />
    <%= render @blogs%>
<div class="paginate">
    <%=paginate @blogs %>
  </div>
</div><!-- /.blog-post -->



