<div class="col-sm-8 blog-main">

<nav class="breadcrumb row">
	<div class="col">
<%= link_to "Blogs", blogs_path, class: 'breadcrumb-item' %>
<%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
  <span class="breadcrumb-item active"><%= @blog.title%></span>

  <span class="float-right">
  
  	<%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin) %>
  	<%= link_to fa_icon('trash'), @blog, method: :delete, data:{confirm: 'Are you sure?'} if logged_in?(:site_admin) %>
  </span>
</div>
</nav>

<h2>  <%= @blog.title %> </h2>


<p>
	  <%= markdown(@blog.body) %>

</p>
<%= link_to 'Back', blogs_path %>

</div><!-- /.blog-post -->

