
<div class="card pass-container">
  <div class="card-body">
    <div class="row">
    	<div class="col-md-12">
    		<div class="header-c">
				<h2>Forgot your password?</h2>
				</div>
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="form-group">
				    <%= f.label :email %><br />
				    <%= f.email_field :email, autofocus: true, class:'form-control' %>
				  </div>

				  <div class="form-group">
				    <%= f.submit "Send me reset password instructions", class:"btn btn-link btn-block" %>
				  </div>
				<% end %>
				<div class="auth-links">
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div>
</div>