<!-- #Depreciated -->

<% if flash[:alert] %>
	<%= js add_gritter(flash[:alert], title: "Paul's Portfolio", sticky: false) %>
<% elsif flash[:error] %>
	<%=js add_gritter(flash[:error], title: "Paul's Portfolio", sticky: false) %>
<% else %>
	<%= js add_gritter(flash[:notice], title: "Paul's Portfolio", sticky: false) %> 
<%end%>