 <header class="masthead clearfix">
 	<div class="inner">
 		<div class="brand-link">
	   	<h3 class="masthead-brand">Paul Aguilar</h3>
	   </div>
	    <nav class="nav nav-masthead nav_styles">

	    	<%= nav_helper "nav-link", "span"%>
	    	<%= login_helper("nav-link")%>

        </nav>
     </div>
 </header> 




<!-- old code left as an example -->
 <!-- 	    	<%= link_to "Home", root_path, class: 'nav-link' %>
	    	<%= link_to "About", about_path, class: 'nav-link'%>
	    	<%= link_to "Contact", contact_path, class: 'nav-link'%>
	    	<%= link_to "Blog", blogs_path, class: 'nav-link'%>
	    	<%= link_to "Portfolio", portfolios_path, class: 'nav-link'%> -->