<aside class="col-sm-3 ml-sm-auto blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Bienvenue, here's a blog that I made for myself as a dev journal to update status on projects, things I've learned, or notes in general.</p>
          </div>
<!--      <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div> -->

          <div class="sidebar-module">
            <h4> Topics</h4>
            <% @side_bar_topics.each do |topic| %>
              <p><%=link_to topic.title, topic_path(topic) %></p>
            <% end %>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled social-links">
              <li><a href="https://gitlab.com/clearfix99"><%=fa_icon "gitlab"%></a></li>
              <li><a href="https://www.linkedin.com/in/paul-aguilar-12134296"><%=fa_icon "linkedin"%></a></li>
              <li><a href="https://twitter.com"><%=fa_icon "twitter"%></a></li>
              
            </ol>
          </div>
          <br />
          <div class="sidebar-module">
          <h4 class="tech-header"> Rails News </h4>
          <% @tweets.each do |tweet| %>
          <div class="tech-news">
            <div class="card sidebar-module-inset">
              <%=twitter_parser tweet %>
            </div>
          </div>
          <% end %>
        </div>
        </aside><!-- /.blog-sidebar -->