      <div class="blog-masthead">
          <nav class="navbar navbar-expand-lg navbar-dark">
  
           <h4 class="name navbar-brand"> Paul Aguilar</h4>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
             <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

          <%= nav_helper "nav-link", "span"%>
          <%= login_helper "nav-link" %>

            </div>
          </nav>
        </div>
      </div>


     <!--    <%= link_to "Home", root_path, class: "nav-link "%>
        <%= link_to "About", about_path, class: "nav-link "%>
        <%= link_to "Contact", contact_path, class: "nav-link "%>
        <%= link_to "Blog", blogs_path, class: "nav-link"%>
        <%= link_to "Portfolio", portfolios_path, class: "nav-link"%>
 -->