<header>
      <div class="blog-header">
        <div class="container">
          <h1 class="blog-title">The Dev Log</h1>
          <p class="lead blog-description">Thinking, Collecting, and <em>sometimes</em> Writing</p>
          <% if logged_in?(:site_admin)%>
          <span class="btn btn-light">
            <%= link_to 'Create a New Post', new_blog_path %>
          </span>
          <span class="btn btn-light">
			      <%= link_to "Topics", topics_path %>
		      </span>
          <% end %>
        </div>


      </div>
    </header>
