	<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Welcome to my portfolio, here are a few of the things I've worked on as of now. HTML5 and CSS3 were the first languages I looked at when I started learning web design and to my surprise I just kept finding more. My javascript is still rough so no projects have used that up to now but I would like to incorporate it soon. </p>
            
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Explore</h4>
            <ul class="list-unstyled">
              <%= nav_helper "text-white", "li"%>
              <li> <%= login_helper "text-white" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


      <div class="navbar navbar-dark bg-dark">
      <div class="container d-flex justify-content-between">
        <h2 class="navbar-brand">  Paul Aguilar</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

