      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">My Portfolio</h1>
          <p class="lead text-muted">Here are some of the things that I've worked on since I started learning web development. Some of the languages and frameworks I've worked with include:</p>
          <div class="logos" >
          <%= image_tag "html5.png", width: 50, alt: "HTML5" %>
          <%= image_tag "css3.png", width: 50, alt: "CSS3" %>
          <%= image_tag "bootstrap.png", width: 50, alt: "Bootstrap" %>
          <%= image_tag "ruby.png", width: 55, alt: "Ruby" %>
          <%= image_tag "rails.png", width: 55, alt: "Rails" %>
          <%= image_tag "postgresql.svg", width: 50, alt: "Postgresql" %>
          <%= image_tag "git.png", width: 50, alt: "Git" %>
        </div>
          <br />
          <p>
            <%= link_to "Learn More", about_path, class:"btn btn-primary"%>
            <%= link_to "Contact Me", contact_path, class:"btn btn-secondary" %>
          </p>
        </div>
      </section> 

      