<footer class="text-muted footer">
      <div class="container">
        <p class="float-left">
          <a href="#">Back to top</a>
        </p>

       <p class="float-right"><%= @copyright %></p>
      </div>
    </footer>