<h2 class="about_head">Thanks for visiting</h2>
 <div class="row">
	<div class="col-md-6 pic">
		<%= image_tag "avatar.jpg", width: 250, alt: "profile image" %>
</div>
<div class="col-md-6 info_paragraph">
<div class="tab">	Hello, my name is Paul Aguilar and this is a website I built. A little about me, I graduated from the University of Washington in 2014 with a degree in psychology. I've always been interested in design and spent a decent amount of time in college in design based courses. Missing this creative outlet, and eager for a new skill to develop, I began looking into HTML, after having taken a class in high school about it.</div>
<div class="tab">
What started as an interest in web design turned into a serious interest in web development that I began devoting my full attention to in the summer of 2016. HTML5 and CSS3 were deceptively simple to pick up, giving me the confidence to try to expand to Javascript and Ruby. These have been more of a challenge, but any frustration is always overshadowed by watching a project come together from a few lines of code. This site is the latest culmination of these efforts and will be a hub for information about progress and projects.</div>
</div>
</div>