<!-- <h1>Welcome, <%= current_user.first_name %>!</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br />
<h2>Blogpost</h2>
<%=@post.inspect%>
<h2>Skills</h2>
<%=@skills.inspect%>

<%= sample_helper %> -->

<main role="main" class="inner cover">
	<h1 class="cover-heading">Welcome.</h1>
	<p class="lead">My name's Paul and I really enjoy web development, this is a website I built while learning to use Ruby on Rails - feel free to peruse.</p>
	<p class="lead">
	<%= link_to "My Portfolio", portfolios_path, class: "btn btn-lg btn-secondary" %> 
	</p>
</main>



   