<div class="card card-container">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div classform-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class:'form-control' %>
        </div>

        <div classform-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div classform-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Log in", class: "btn btn-primary btn-block"%>
        </div>
        <% end %>
                <%= devise_error_messages! %>

                <div class="auth-links"> 
                  <%= render "devise/shared/links" %>

                  <%= link_to "Back", :back %>

                </div>

      </div>
      <!-- <% render "devise/shared/links" %>-->
      <div class="col-md-6">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign up", class:"btn btn-success btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>