
<%= form_for(@portfolio) do |form| %>
  <% if @portfolio.errors.any? %>
    <% @portfolio.errors.full_messages.each do |error| %>
      <%= alert_generator error%>
      <% end %>
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title,  class:"form-control" %>
  </div>
   <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle,  class:"form-control" %>
  </div>

 <div class="form-group">
  <label class="btn btn-primary">
    Upload Thumbnail
    <%=form.file_field :thumbnail, style: 'display:none;'  %>
  </label>
  </div>


  <div class="form-group">
    <label class="btn btn-primary">
    Upload Main Image
    <%=form.file_field :main_image, style: 'display:none;' %>
  </label>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body,  class:"form-control", rows:5 %>
  </div>
    <hr>
    <div>
      <h3>Technologies Used </h3>
        <!--       gives the ability to create nested form -->      
        <%= form.fields_for :technologies do |tech|%>
             <%= render 'technology_fields', f: tech %> 
        <% end %>
        <div>
          <%= link_to_add_association "Add Technology", form, :technologies %>
        </div>
    </div>
    <br />
  <div class="actions form-group">
    <%= form.submit "Save Portfolio Item", class:"btn btn-primary" %>
  </div>
<% end %>
<p><%= link_to "Back", portfolios_path %></p>
