<div class="col-md-4">
  <!--  Made the title my view --> 
  <div class="card" data-id="<%=portfolio.id%>">
<%=image_tag placeholder_img(portfolio.thumbnail, 'thumb'), width: "100%" %><br />
    <p class="card-text">
      <span><%=link_to portfolio.title, portfolio_show_path(portfolio.id)%><span>
      <%=portfolio.subtitle%>
      <span class="links">
      <%= link_to "Edit", edit_dev_portfolio_path(portfolio) if logged_in?(:site_admin)%>
<%= link_to "Delete",dev_portfolio_path(portfolio), method: :delete, data: {confirm: 'Are you sure?'} if logged_in?(:site_admin)%>
</span>
  </p>
  </div>
</div>

