<div class="container portfolio_edit">
  <h1>Edit Portfolio Item</h1>
<!-- 

<%= form_for(@portfolio) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :blog_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<p><%= link_to "Back", portfolios_path %></p> -->

<%= render "form", portfolio: @portfolio %>
</div>