



      <div class="album text-muted">
        <div class="container">
				<%= link_to "Add Entry", new_dev_portfolio_path if logged_in?(:site_admin)%>

          <div class="row <%= 'sortable' if logged_in?(:site_admin)%>">
				<!-- manual way: <a href="dev_portfolios/new">Create New Item</a> -->
				<!-- use "path" to get the relative url  -->
				<%= render partial: 'portfolio', collection: @portfolio%>
          </div>
      </div>
  </div>

