<h1>Portfolio</h1>
<!-- manual way: <a href="dev_portfolios/new">Create New Item</a> -->
<!-- use "path" to get the relative url  -->
<%= link_to "Create New Item", new_dev_portfolio_path %>
<%@react_portfolio.each do|x|%>
  <p><%=x.title%></P>
  <p><%=x.subtitle%></P>
  <p><%=x.body%></P>
  <%=image_tag x.thumbnail unless x.thumbnail.nil?%><br />
  <%=link_to "View", portfolio_show_path(x.id)%>
  <%= link_to "Edit", edit_dev_portfolio_path(x) if logged_in?(:site_admin)%>
  <%= link_to "Delete",dev_portfolio_path(x), method: :delete, data: {confirm: 'Are you sure?'} if logged_in?(:site_admin)%>
<%end%>
