
<div class="container">
	<div class="row main_container">
		<div class="col-md-7">
			<%= image_tag placeholder_img(@portfolio.main_image, 'main'), width: "100%" %>
			<br />
					<p><%= link_to "Back", portfolios_path %></p>

		</div>
		<div class="col-md-5">
			<h1><%= @portfolio.title %></h1>
			<h3><%= @portfolio.subtitle %></h3>
			<p><%= @portfolio.body%>
			<h6>Technologies Used:</h6>
			<% @portfolio.technologies.each do |t| %>
			<p>
				<%=t.name%>
			</p>
			<%end%>
              	<%= link_to "Edit Item", edit_dev_portfolio_path(@portfolio), class:"btn btn-warning btn-color" if logged_in?(:site_admin)%>
		</div>
		<div class="col-md-12"><hr></div>
	</div>
</div>


