@import "bootstrap";
@import "jquery-ui";
@import "gritter";



h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
  }
body {
  font-family: "Source Serif Pro", serif;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.links{
	padding-left: 2rem;
}


.portfolio_edit{
	width: 40rem;
	padding-top: 1rem;
}

.nav-color{
	background-color: #2980b9;
}
.main_container{
  padding-top: 2rem;
}

.btn-color{
  color: white;
}
.logos img{
  margin-right: 1rem;
}