<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%=@seo_keywords%>"/>

    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Source+Serif+Pro" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	 <div class="site-wrapper container-fluid">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <%= video_tag(
            'coding.mp4',
              id: 'background',
              autoplay: true,
              loop: true,
              poster: 'coding.jpg'
          )%>
              <%= render "shared/application_nav" %>
              <%= yield %>
              
              <%=source_helper %>
             <%= render "shared/application_footer" %>

              <%= alerts %>

         </div>
      </div>
    </div>

  </body>
</html>
   