<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %> </title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Source+Serif+Pro" rel="stylesheet">

    <meta name="keywords" content="<%=@seo_keywords%>"/>
    <%= stylesheet_link_tag    'dev_portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render "shared/dev_portfolio_nav" %>
     <main role="main" >

      <%= render "shared/dev_portfolio_jumbo" unless logged_in?(:site_admin)%>


    <%= yield %>

    <%=source_helper %>
    <%= alerts %>
              <%= render "shared/dev_portfolio_footer" %>

  </body>
</html>
